
body{
  font-family: 'Poppins', sans-serif;
}


/* SPAWDIĆ JAK NIE OZWALAJĄC GRIDA DODAĆ PRZESTRZENIE IĘDZY ELEMENTAMI OFFER-ITEM
ZMIENIĆ NAZEWNICTWO HEADEÓW*/



/*Elementy prefedniowane*/
.nav-item .nav-link{
  color:#333;
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.8);
}
.img-fluid{
  border-radius: 15px;
}

.nav-link:hover{
  background:rgba(33,66,255,0.9);
  color:white;
  transition: background,color 0.5s;
}
.menu-fixin .nav-item .nav-link{
  color:#ddd;
}
.breadcrumb-item+.breadcrumb-item::before{
  content:">";
}
.scrollable{
  white-space:nowrap;
  overflow: auto;
  overflow-x: hidden;
}

/*koniec elementów predefiniowanych*/
.top_right .search-bt{
  display:none;
}
.input-group{
  margin-top:75px;
}
.header-top{
  padding-bottom:15px;
}
.header-top_left{
}
.header-top_left .input-group .form-control {
    border-radius:0px;
    height:50px;
    padding: 0px 50px;
}
.header-top_left .input-group .input-group-btn {
    position: absolute;
    right: 20px;
    top: 51%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 3;
}

.header-top_mid{
  text-align: center;
  padding-top:25px;
  order:1;
}
 img{
  max-width: 100%;
}

.header-top_right{
  margin-top:75px;
  order:3;
}
.header-top_right .top_right{
  list-style: none;
  display:inline;
  text-align: justify;
  padding-inline-start:0px;
}

 .top_right li{
  display:inline;
}
.top_right li a {
    font-size: 24px;
    border: 1px solid #cccccc;
    color: #333333;
    text-align: center;
    display: inline-block;
    line-height: 48px;
    padding: 0px 16px;
}
.top_right .h_price span{
    font-size: 16px;
    border: 1px solid #cccccc;
    color: #333333;
    text-align: center;
    display: inline-block;
    padding: 14px 2px 10px 2px;
}
.top_right .h_price{
  margin-bottom:2px;
}

.top_right .menu-dropdown_fixed{
  display:none;
}
.shop_header_area{
  margin-top:30px;

}
.shop_header_area .navbar{
    border-top: 2px solid #666;
}

.overall-shader{
  z-index: 10;
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,1);
  height:100vh;
  width:100%;
}
.icon-close{
  color:#fff;
  font-size: 36px;
}
.mobile-trigger{
  position:absolute;
  top:1.5rem;
  right:1.5rem;
}
.sub-product{
  font-size:0.8rem;
  color:#ddd;
}
.menu-fixin ul {
  list-style: none;
  padding:0;

}
.menu-fixin ul li{
  border-right:2px solid #ccc;
}
.menu-fixin ul li a:hover{
  color:#fff;
  text-decoration: none;
  background: #3366ff;
}
/* Style do przedmotów na głównej */
.newest-offer{
  margin-top:50px;
  margin-bottom:25px;
}
.n_o_title{
  padding: 25px 0px;
}
.o_i_img{
  min-height: 300px;
}
.o_i_text{
  text-align: center;
  padding: 15px 0px;
  border-top:2px solid #555;
  font-weight: 700;
}
.o_i_text span{
  font-size: 16px;
}
.offer-item{
  box-shadow: 8px 11px 69px -28px rgba(221,221,221,1);
  border: 1px solid #555;
  border-radius: 15px;
}

.bestseller{
  padding-bottom: 60px;
  border-bottom: 1px solid #ccc;
}
.b_o_item{
  position:relative;
  margin-top:25px;
}
.b_o_text{
  position:absolute;
  top:25%;
  left:15%;
  color:#ccc;
  background:rgba(33,33,33,0.95);
  padding: 25px 15px;
}
.bs_desc{
  border:1px solid #ccc;
  box-sizing: border-box;
  -webkit-box-shadow: 9px 15px 65px -35px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 15px 65px -35px rgba(0,0,0,0.75);
  box-shadow: 9px 15px 65px -35px rgba(0,0,0,0.75);
}
.bs-title{
  text-align: center;
  padding: 40px 0px;
}
.bs-title h3{
  font-weight: 700;
}
.bright{
  background:#fff;
  color:#666;
}
.footer_col_title{
  color:#000;
  border-bottom: 1px solid #333;
  text-align: center;
}
.footer_text ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.footer_text span{
  text-align: center;
}
.footer_text ul li{
  padding: 10px 0px;
}
.footer_text ul li a{
  color:#666;
}
.footer_text .f-right{
  text-align: right;
}
.footer-wid-right ul{
  text-align: right;
}
/* CZĘŚĆ STYLÓW DO MENU*/
.navbar::before{
  content:"<";
  position:absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
  font-size: 30px;
  padding:0 8px;
  background:#ccc;
  opacity:0.8;
}
.navbar::after{
  content:">";
  position:absolute;
  top:50%;
  right:0;
  transform: translateY(-50%);
  font-size: 30px;
  padding:0 10px;
  background:#ccc;
  opacity:0.8;
}
.navbar .dropdown-menu div[class*="col"] {
   margin-bottom:1rem;
}

.navbar .dropdown-menu {
  border:none;
  background-color:#343a40!important;
  margin-top:0.6rem;
}
/*formularz rejestracji*/
.reg-form{
  margin:0 15px;
}
.form-container{
  border-radius: 5px;
  border:2px solid #3333ff;
  margin-top:40px;
}
.form-title{
  padding:10px;
  text-align: center;
  background:#fff;
  color:#007bff;

}
.form-title:hover h3{
  background:#007bff;
  transition: 0.25s all linear;
  color:#fff;
}
.form-title h3{
  padding:10px 0;
  border-bottom:2px solid #ccc;
  cursor:pointer;
}
form .input-rep{
  display:block;
  border:2px solid #3333ff;
  border-radius: 25px;
  padding:10px 15px;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  outline: none;
  display:block;
  transition: all .2s ease-in-out;
}
.form-cont-reg form input:focus , .form-cont-login form input:focus{
  border:2px solid green;
  transition:border 700ms ease-in-out;
}
.form-cont-reg form input:hover, .form-cont-login form input:hover{
  cursor:pointer;
  transform:scale(1.01);

}
.input-wrapper{
  margin-bottom: 1rem;
}
.label-input{
  color:#333;
  border-left: 2px solid white;
  padding-left: 5px;
}

.cat-title{
  padding: 15px 0;
}
.cat-title span{
  border-left:2px solid #333;
  padding-left:5px;
  font-size:2.5rem;
}
.category-cont{
  border:1px solid #aaa;
  border-radius: 5px;
  padding:10px;
}

.category-cont ul{
  list-style: none;
  padding-inline-start:15px;
}
.category-cont>ul>li{
  padding:10px 0;

}
.category-cont ul li:hover ul,
.category-cont ul li:focus ul
.category-cont ul li:focus-within ul
 {
  display:block;
  max-height: 500px;
}
.category-cont ul>li>a{
  color:#007bff;
  border-left: 2px solid #007bff;
  padding: 5px 0 5px 5px;
}
.category-cont ul>li>i{
  color:#007bff;
  line-height: 1.5;
}

.category-cont ul li ul{
  left: 0;
  max-height: 0px;
  overflow: hidden;
  transition: max-height .5s;
}
.category-cont ul li ul li{
  padding: 5px 0;}

.category-cont ul li ul li a::before{
content:">";
margin-right:5px;
}
.product-listed{
  border:1px solid #ccc;
  padding-top:10px; 
  display:flex;
  align-items: stretch;
}
.product-img{
  position: relative;
    flex: 0 0 200px;
    width: 200px;
}
.product-img>img{
  width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.product-name{
  font-size: 1.3rem;
  font-weight: 600;
}
.product-name a{
  color:#333;
}
.quantity{
  font-size:0.8rem;
}
.product-details{
  font-size: 0.7rem;
}
.product-details ul{
  padding-inline-start:15px;
}
.product-descr{
  flex: 0 0 calc(100% - 400px);
  width: calc(100% - 400px);
  position:relative;
}
.product-details-right{
  position: relative;
    flex: 0 0 200px;
    width: 200px;
}

.to-cart{
  padding:5px 30px;
  border:2px solid #3366ff;
  border-radius: 5px;
  outline: none;
  background:#3366ff;
  cursor: pointer;
  position:absolute;
  bottom: 15%;
  left:50%;
  transform:translateX(-50%);
}
.to-cart:hover{
  background:#3333ff;
  border:2px solid #3333ff;
  transition:.25s all linear;
}
.to-cart>i{
  font-size: 20px;
  color:#fff;
}
.product-listed{
  margin-bottom: 15px;
}
.price{
  font-size: 1.6rem;
}
.order-up{
  margin:15px 0;

}
.order-by{
  margin:15px;
  display: inline;
}
.price-range{
  display:inline;
}
.order-by>select{
  outline:none;
  padding:10px 5px;
}
.order-by>select>option{
  padding:10px 5px;
}
.sort-price{
  display:inline;
}
.sort-price>input{
  max-width: 75px;
  border:1px solid #ccc;
}
.filters-cont{
  border:1px solid #aaa;
  border-radius: 5px;
  padding:10px;
  margin-top:15px;
}
.filters-cont ul{
  list-style: none;
  outline:none;
  font-size:13px;
  display:block;
}
.filter-toggler{
  font-size: 12px;
  outline: none;
  border:1px solid #333;
  border-radius: 5px;
  background:#eee;
  float:right;

}
.panel-title{
  border-left:2px solid #333;
  padding-left:5px;
  font-size:1.7rem;
  margin: 15px 0;
}
.panel-menu{
  display:flex;
  justify-content: center;
}
.panel-menu ul{
  list-style: none;
  display:flex;
  padding-inline-start:0;
}
.panel-menu ul li:first-child{
  margin-left:0;
}
.panel-menu ul li{
  display: inline;
  margin-left:15px;
  border:2px solid #007bff;
}
.panel-menu ul li:hover{
  transform:scale(1.02);
  background:#007bff;
  transition: 0.25s all linear;
  color:#007bff;
}
.panel-menu ul li a{
  color:#007bff;
  width:100%;
  display:block;
  text-align:center;
  padding:10px;
  font-size: 1rem;
}
.panel-menu ul li a:hover{
  color:#fff;
  text-decoration: none;
}
.base-border{
  border:2px solid #333;
  border-radius: 5px;

}
.user-data{
  font-size: 1.4rem;

}
.user-data-labels, .user-data-display{
  flex:0 0 50%;
}
.user-data-labels>p{
  border-left:2px solid #333;
  padding-left: 5px;
}
.user-data-modify form input{
  margin-bottom:5px;
  padding:3px;
  max-width: 70%;
  display:block;
  outline-color: green;
}
.b-submit{
  border:2px solid #007bff;
  padding:10px;
  text-align: center;
  background:#fff;
  margin-top:15px;
  color:#007bff;
}
.b-submit:hover{
  transform:scale(1.02);
  background:#007bff;
  transition: 0.25s all linear;
  color:#fff;
  cursor:pointer;
}
.order-container{
  font-size: 0.9rem;
}
.order-title{
  display:block;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 25px;
  color:#007bff;

}
.order-left-column, .order-right-column{
  flex:0 0 50%;
}
.order-left-column span, .order-right-column span{
  display:block;
}
.order-img img{
  max-width: 75px;
}
.cart-form-title{
  flex: 0 0 25%;
}
.cart-form-title span{
  float:right;
}
.cart-quantity{
  max-width: 50px;
  text-align:center;
  padding:5px;
}
.order-cart{
  flex: 0 0 20%;
  text-align: center;
}
.order-quantity input{
  float:right;
}
.summary-cart{
  float: right;
  font-size: 1.1rem;
}
.summary-cart span{
  font-weight: 700;
}
.summary-cart a{
  text-decoration:none;
}
.order-sum{
  text-align: right;
}
.cart-progress{
  position:absolute;
  top:59px;
  left:0;
  font-size:0.9rem;
}
.cart-progress::before{
  content:"1";
  position:absolute;
  top:-20px;
  left:50%;
  transform:translateX(-50%);
  background:#007bff;
  color:#fff;
  height:25px;
  width:25px;
    font-size:1rem;
  border-radius: 100%;
  text-align: center;
}
.select-progress{
  position:absolute;
  top:59px;
  left:50%;
    font-size:0.9rem;
}
.select-progress>span{
  margin-left: -50px;
}
.select-progress::before{
  content:"2";
  position:absolute;
  top:-20px;
  transform:translateX(-50%);
  background:#007bff;
  color:#fff;
  height:25px;
  width:25px;
  border-radius: 100%;
  text-align: center;
    font-size:1rem;
}
.final-progress{
  position:absolute;
  top:59px;
  left:98%;
    font-size:0.9rem;
}
.final-progress>span{
  margin-left: -50px;
}
.final-progress::before{
  content:"3";
  position:absolute;
  top:-20px;
  transform:translateX(-50%);
  background:#007bff;
  color:#fff;
  height:25px;
  width:25px;
  border-radius: 100%;
  text-align: center;
    font-size:1rem;
}
.action-title{
  padding:25px 0;
  background:#fcfcfc;
  border-top:2px solid #ccc;
  border-bottom:2px solid #ccc;
  font-size: 1.3rem;
}
.order-input{
  padding:5px;
  border:2px solid #ccc;
  margin-bottom: 10px;
  outline-color: #007bff;
}
.tile{
  font-size: 1.2rem;
  margin-bottom: 15px;
}
.radio-tile{
  height:20px;
  width:20px;
  transform: translateY(3px);
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {

.navbar {
  padding-top:0px;
  padding-bottom:0px;
}

.navbar .nav-item {
  padding:.5rem .5rem;
  margin:0 .25rem;
}
.check-acc{
  float:left;
  line-height: 15px;
}
/* makes the dropdown full width  */
.navbar .dropdown {position:static;}

.navbar .dropdown-menu {
  width:100%;
  left:0;
  right:0;
/*  height of nav-item  */
  top:45px;
}

.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
  display:block!important;
}

.navbar .dropdown-menu {
    border: 1px solid rgba(0,0,0,.15);
    background-color: #fff;
  }
.overall-shader{
  display:none;
}
/*shader menu*/
.light-ft{
  color:#333;
}
.light-bg{
  background:#ccc;
}



}

/*KONIEC STYLÓW DO MENU*/

@media (max-width:992px){
  .header-top_right{
    margin-top:40px;
  }
  .shop_header_area{
    display:none;
  }
  .top_right .menu-dropdown_fixed{
    display:inline-block;
  }
  .menu-dropdown_fixed .navbar-toggler{
    padding:0;
    border:none;
  }
  .menu-dropdown_fixed .navbar-toggler i{
    font-size: 23px;
    border: 1px solid #ddd;
    text-align: center;
    display: inline-block;
    line-height: 46px;
    padding: 0px 16px 4px 16px;
  }
  .offer-item{
    margin-top:25px;
  }
  .nav-item .nav-link{
    color:#ccc;
  }
  /*mobile menu */
  .mobile-menu_item{
  border:2px solid #ccc;
  }
  .mobile-menu_title{
  text-align: center;
  color:#fff;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 2rem 0;
  }
  .mobile-link:hover .mmi_text{
  background:#3366ff;
  transition: background 0.5s;

  }
  .mobile-menu_title span{
    border-bottom: 2px solid #3366ff;
  }
  .mmi_img{
  max-width: 100%;
  }
  .mmi_text{
  text-align: center;
  padding: 15px 0px;
  border-top:2px solid #555;
  font-weight: 700;
  color:#fff;
  font-size: 0.7rem;
  }
  .menu-title-mobile{
    margin: 15px 0;
  }

  .product-img{
    position: relative;
      flex: 0 0 150px;
      width: 150px;
  }
  .product-descr{
    flex: 0 0 calc(100%-400px);
    width: calc(100%-400px);
  }
  .product-details-right{
    flex: 0 0 100px;
    width: 100px;
  }
  .user-data-modify{
    margin-top:25px;
  }

}

/*sm brakpoint*/
@media (max-width: 768px){
  .header-top_right{
    position:fixed;
    background:#343a40;
    bottom:0;
    left:0;
    width:100%;
    display:flex;
    justify-content: center;
    z-index:11;
  }
  .header-top_right{
    padding-top:15px;
  }
  .top_right li a {
      border: 1px solid #ddd;
      color: #ccc;
  }
  .top_right .h_price span{
    border: 1px solid #ddd;
    color: #ccc;
  }
  .top_right .search-bt{
    display:inline;
  }
  .input-group{
    margin-top:25px;
  }
  /*.shop_header_area{
    display:none;
  }*/
  .top_right .menu-dropdown_fixed{
    display:inline-block;
  }
  .menu-dropdown_fixed .navbar-toggler{
    padding:0;
    border:none;
  }
  .menu-dropdown_fixed .navbar-toggler i{
    font-size: 23px;
    border: 1px solid #ddd;
    color: #ccc;
    text-align: center;
    display: inline-block;
    line-height: 46px;
    padding: 0px 16px 4px 16px;
  }

  .product-img{
    position: relative;
      flex: 0 0 100px;
      width: 100px;
  }
  .product-descr{
    flex: 0 0 calc(100% - 200px);
    width: calc(100% - 200px);
  }
  .price-range{
    display:block;
  }
  .order-by{
    display:block
  }
  .panel-menu ul li a{
    font-size: 0.8rem;
    padding:5px;
  }
  .order-container{
    font-size: 0.7rem;
  }

}
